.spinner {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;

  height: 100%;

  .header {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 48px;
    padding: 10px 20px;

    border-bottom: 1px solid var(--primary);
    border-radius: 5px;
    background: var(--white);

    .buttons {
      display: flex;
    }

    .reset {
      margin-right: 10px;
    }

    input {
      width: 200px;
      height: 30px;
      padding: 5px;

      border: 1px solid var(--primary);
      border-radius: 7px;

      outline: none;

      &::placeholder {
        color: var(--primary);

        font-size: 12px;
      }

      &:focus {
        outline: var(--primary);
      }
    }
  }

  .treeWrapper {
    flex: 1;

    background: var(--white);

    .tree {
      border: 1px solid #DDD;
      border-radius: 4px;
      background: var(--white);
    }
  }
}

@media (max-width: 500px) {
  .header {
    flex-direction: column;

    min-height: 90px;

    .reset {
      width: 200px;
      margin-right: 0 !important;
    }
  }
}

@media (max-width: 765px) {
  .logout {
    display: none;
  }
}
