html,
body {
  margin: 0;
  padding: 0;

  color: var(--black);
  background: var(--bg);

  font-family: sans-serif;
}

a {
  text-decoration: none;

  color: inherit;
}

* {
  box-sizing: border-box;
}

:root {
  --black: #000;
  --white: white;
  --bg: #EDF5E0;
  --primary: #8DE4AF;
  --primary-dark: #48B579;
  --light-black: #303030;
  --grey: #96969D;
  --blue: #A4ECFF;
  --pink: #FDAED8;
}
